/*
     _   _                           _            _ 
    | | | |_ __  _ __ ___   __ _ ___| | _____  __| |
    | | | | '_ \| '_ ` _ \ / _` / __| |/ / _ \/ _` |
    | |_| | | | | | | | | | (_| \__ \   <  __/ (_| |
     \___/|_| |_|_| |_| |_|\__,_|___/_|\_\___|\__,_|
                                                
Unmasked, a simple web application to discover your fingerprint on websites. */

body {
  font-family: 'segoe-ui', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100vw;
  background-color: #121212;
  color: #f0f0f0;
}

header {
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

button {
  background-color: #9e8ce2;
  color: #f0f0f0;
  border: none;
  padding: 0.75rem 1.2rem;
  cursor: pointer;
  border-radius: 8px;
  font-weight: 600;
  font-size: 1rem;
}

button:hover {
  background-color: #8E7FCB
;
}

.h2 {
  color: #ffffff;
  margin-top: 1rem;
  text-align: center;
  padding: 1rem;
}

section {
  padding-bottom: 3vh;
  text-align: center;
}

.info-grid-horizontal {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.info-box {
  background-color: #252525;
  border-radius: 8px;
  padding: 1rem;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.info-box .label {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-weight: bold;
  margin-bottom: 0.2rem;
  color: #9e8ce2;
}

.info-box .result {
  font-size: 0.9rem;
  color: #e0e0e0;
  margin-top: 2vh;
}

.tooltip-container {
  position: relative;
  display: inline-block;
}

.tooltip {
  visibility: hidden;
  opacity: 0;
  width: 256px;
  background-color: #333;
  color: #f0f0f0;
  font-size: 0.7rem;
  font-weight: 300;
  text-align: left;
  padding: 0.6rem;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 125%; /* show above */
  left: 50%;
  transform: translateX(-50%);
  transition: opacity 0.3s;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

.tooltip::after {
  content: '';
  position: absolute;
  top: 100%; /* arrow at bottom of tooltip */
  left: 50%;
  transform: translateX(-50%);
  border-width: 6px;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
}

.tooltip-container:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.hardware-line {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.info-icon {
  width: 16px;
  height: 16px;
  margin-left: 8px;
  vertical-align: top;
}

main {
  margin: 0 auto;
  padding-left: 5%;
  padding-right: 5%;
  max-width: 1200px;
}

#uniqueness-score {
  font-size: 1.2rem;
  font-weight: 500;
  color: #b1a1ed;
}

footer {
  text-align: center;
  font-size: 0.8rem;
  padding-bottom: 3%;
}